<!--
#  Émie Doucet
#  Web: Serveur 2
#  Laboratoire 4
#  10/11/2021 -->
<h1 style="text-align: center;"> Recettes </h1>
<br /><br /><br />
<ul>
  <% @recettes.each do |user, recettes| %>
    <li>
      <%= user.prenom %> <%= user.nom %>
        <ol>
          <% user.recettes.each do |recettes| %>
            <li>
              <a target=_blank href=recettes/<%= recettes.id %>><%= recettes.titre %></a>
            </li>
          <% end %>
        </ol>
    </li>
  <% end %>
</ul>  