<!--
#  Émie Doucet
#  Web: Serveur 2
#  Laboratoire 5
#  30/11/2021 -->

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
